* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bebas Neue", cursive;
}

a, p {
  font-family: "Source Sans Pro", sans-serif;
}

section {
  padding: 40px 0 0 40px;
  overflow: hidden;
}
section a {
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  color: black;
  transition-duration: 600ms;
}
section a:hover {
  color: #388e3c;
  transition-duration: 600ms;
}

.cs-title {
  color: #00600f;
}

.cs-section-border {
  border-bottom: 1px solid #bce2bb;
}

#back-to-top {
  display: inline-block;
  background-color: #00600f;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border: none;
  position: fixed;
  bottom: 2vh;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

@media (max-width: 992px) {
  .cs-image {
    display: none;
  }
}
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6abf69;
}

nav {
  margin: 0 auto;
  background: white;
  font-size: 1.7vh;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.8s;
  position: relative;
}
nav ul li a:after {
  transition: all 0.8s;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: "";
  color: transparent;
  background: #6abf69;
  height: 1px;
}
nav ul li a:before {
  transition: all 0.8s;
}
nav ul li a:hover {
  color: #6abf69;
}
nav ul li a:hover:after {
  width: 100%;
}
nav .custom-logo img {
  height: 6vh;
  padding: 4px;
}

#hero {
  height: 99vh;
  background: url("../img/hero-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
}
#hero .hero-title {
  height: 99vh;
}
#hero .hero-title .cs-hero-title {
  font-size: 8vh;
  color: #6abf69;
}
#hero .hero-title .cs-hero-subtitle {
  color: #ebebeb;
}

.btn-success {
  background: #00600f;
  border: none;
  color: white;
}

.cs-icon-container {
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  background: #6abf69;
  transition-duration: 1200ms;
}
.cs-icon-container:hover {
  background: #388e3c;
}
.cs-icon-container:hover .cs-service-icon {
  transform: scale(1.2);
  transition-duration: 1200ms;
}
.cs-icon-container .cs-service-icon {
  color: white;
  font-size: 3.5vh;
  transition-duration: 1200ms;
  position: relative;
  top: 32%;
}

.nav-pills {
  background-color: #e5f4e5;
}
.nav-pills .nav-link {
  color: #464646;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background: #6abf69;
}

.tab-pane.fade {
  transition: all 0.4s;
  transform: translateY(1rem);
}

.tab-pane.fade.show {
  transform: translateY(0rem);
}

.contact-icon {
  font-size: 4vh;
  color: #388e3c;
}

.cs-form {
  border: 2px solid #bce2bb;
  border-radius: 20px;
  padding: 4vh;
}
.cs-form .cs-button {
  float: right;
}

#clients {
  background: #6abf69;
  height: 14vh;
}

footer {
  background: #00600f;
  height: 30vh;
  padding: 2% 10% 0 10%;
  color: white;
}

ul {
  text-decoration: none;
  list-style-type: none;
}
ul a {
  font: "Source Sans Pro", sans-serif;
  font-size: 2vh;
  text-decoration: none;
  color: white;
}
ul a:hover {
  color: #f2f2f2;
}

/*# sourceMappingURL=main.css.map */
