#clients {
	background: $secondary;
	padding: 4vh;

	.dla-logo {
		background: url("../img/clients/dla.png");
		@include client-logo;

		&:hover {
		    background: url("../img/clients/dla-after.png");
		    @include client-logo-hover;		    
		  }
	}

	.farmacity-logo {
		background: url("../img/clients/farmacity.png");
		@include client-logo;

		&:hover {
		    background: url("../img/clients/farmacity-after.png");
		    @include client-logo-hover;
		  }
	}

	.frp-logo {
		background: url("../img/clients/frp.png");
		@include client-logo;

		&:hover {
		    background: url("../img/clients/frp-after.png");
		    @include client-logo-hover;
		  }
	}

	.pegasus-logo {
		background: url("../img/clients/pegasus.png");
		@include client-logo;

		&:hover {
		    background: url("../img/clients/pegasus-after.png");
		    @include client-logo-hover;
		  }
	}

	.patagonia-logo {
		background: url("../img/clients/patagonia.png");
		@include client-logo;

		&:hover {
		    background: url("../img/clients/patagonia-after.png");
		    @include client-logo-hover;
		  }
	}

	.deportes-logo {
		background: url("../img/clients/deportes.png");
		@include client-logo;

		&:hover {
		    background: url("../img/clients/deportes-after.png");
		    @include client-logo-hover;
		  }
	}

}