.contact-icon {
	font-size: 4vh;
	color: $primary-hover;
}

.cs-form {
	border: 2px solid #bce2bb;
	border-radius: 20px;
	padding: 4vh;

	.cs-button {
		float: right;
	}
}

.cs-mail {
	text-decoration: none;
    font-family: $secondary-font;
    color: black;
    transition-duration: 600ms;
}