.cs-icon-container {
	width: 100px;
	height: 100px;
	margin: auto;
	border-radius: 50%;
	background: $secondary;
	transition-duration: 1200ms;

	&:hover {
		background: $primary-hover;
		.cs-service-icon {
			transform: scale(1.2);
			transition-duration: 1200ms;
		}
	}

	.cs-service-icon {
		color: white;
		font-size: 3.5vh;
		transition-duration: 1200ms;
		position: relative;
		top: 32%;
	}

}

.nav-pills {
	background-color: #e5f4e5;	

	.nav-link {
		color: $text-color;
	}
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	background: $secondary;
}


