.cs-icon-container {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background: $secondary;
	transition-duration: 1200ms;

	&:hover {
		background: $primary-hover;
		.cs-service-icon {
			transform: scale(1.2);
			transition-duration: 1200ms;
		}

		.cs-service-icon2 {
			transform: scale(1.2);
			transition-duration: 1200ms;
		}

		.cs-service-icon3 {
			transform: scale(1.2);
			transition-duration: 1200ms;
		}
	}

	.cs-service-icon {
		color: white;
		font-size: 5vh;
		transition-duration: 1200ms;
	}

	.cs-service-icon2 {
		color: white;
		font-size: 5vh;
		transition-duration: 1200ms;
	}

	.cs-service-icon3 {
		color: white;
		font-size: 5vh;
		transition-duration: 1200ms;
	}

}

