@mixin client-logo{
  height: 8vh;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 1s ease-out;
}

@mixin client-logo-hover{
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(1.02);
}