* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font;
}

a, p {
  font-family: $secondary-font;
}

section {
  padding: 80px 0 0 0;
  overflow: hidden;
  display: none;

  a {
    text-decoration: none;
    font-family: $primary-font;
    color: black;
    transition-duration: 600ms;

    &:hover {
      color: $primary-hover;
      transition-duration: 600ms;
    }
  }
}

.cs-title {
  color: $primary;
}
